html {
  box-sizing: border-box;

  /*  These rules with smooth fonts. It makes fonts look crisp and clean on devices
      that support it. */
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  /*  These are added to prevent text size adjustments in various browsers.
      In some browsers, such as iOS Safari, will try to increase the font-size
      when you rotate the screen. This can be jarring and break layouts.  */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.timer {
  margin-top: 2em;
  display: grid;
  grid-template-areas: 
  'timer timer'
  'start stop';
  grid-template-rows: 1fr min-content;
  grid-template-columns: min-content min-content;
  gap: 1em;
  justify-content: center;
}

.timer__canvas {
  grid-area: timer;
}

.timer__start {
  grid-area: start;
}

.timer__stop {
  grid-area: stop;
}
