@use './reset';

body {
  font-family: sans-serif;
  background-color: #eee;
  color: #222;
}

header {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  background: white;
}

header img {
  display: block;
}

h1 {
  text-align: center;
  margin: 1em 0;
}

button, label[for="uploadQR"] {
  border-radius: 9999px;
  background: none;
  padding: 0.5em 1em;
  border: 1px solid #222;
  cursor: pointer;
  color: #222;
}

.output {
  margin-top: 1em;
  color: lightseagreen;
}

.timer {
  margin-top: 1em;
  display: grid;
  grid-template-areas: 
  'timer timer'
  'start stop';
  grid-template-rows: 1fr min-content;
  grid-template-columns: min-content min-content;
  gap: 2em;
  justify-content: center;
}

.timer__canvas {
  grid-area: timer;
  box-shadow:  0px 8px 8px 0px rgba(0, 0, 0, 0.04),0px 8px 20px -3px rgba(0, 0, 0, 0.1),0px 4px 8px -2px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.timer__start {
  grid-area: start;
}

.timer__stop {
  grid-area: stop;
}

summary {
  font-size: 1.5em;
  // background: green;
  padding: 1em;
  cursor: pointer;
}

summary ~ * {
  margin-inline-start: 1.8em;
  padding-inline-end: 1em;
}

summary ~ * + * {
  margin-top: 1em;
}

fieldset {
  padding: 0;
  border: none;
}

summary ~ fieldset {
  display: flex;
  flex-direction: column;
}

summary ~ fieldset > input {
  width: min-content;
}

.intervals > * + * {
  margin-top: 1em;
}

.intervals fieldset {
  display: grid;
  grid-template-areas: 
  'label . .'
  'name duration color';

  grid-template-columns: repeat(3, minmax(min-content, 100px));

  gap: 0.25em;
}

.intervals fieldset input {
  max-width: 80px;
}

.interval-name {
  grid-area: name;
}

.interval-duration {
  grid-area: duration;
}

.interval-color {
  grid-area: color;
}

#output {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}
